
.navbar-header{
	width: 100%;
}
.dropdown{
	float: right;
	margin-top: 8px;
	margin-right: 90px;
}
.dropdown-item{
	margin-left:10px;
}
#table-striped-add{
	min-height: 200px;
}
.page-header{
	margin-bottom: 20px;
}
.ck-rounded-corners {
	height: 200px;
}